<div class="body-wrapper">
    <div class="register">
        <div class="bar fade">
            <div class="logo">
                <img src="./static/images/landing-logo.png" alt="Nitrous Logo">
            </div>
        </div>
        <div class="page-content">

            <div class="register-form  float-right">


                <h2>Create Account</h2>
                <input type="text" placeholder="Complete Name" id="user-name">
                <input type="text" placeholder="User Name" id="user-name">
                <input type="email" placeholder="Email" id="user-email">
                <input type="text" placeholder="Country" id="user-country">
                <input type="password" placeholder="Password" id="user-password">
                <a href="javascript:;" class="form-button">Register</a>

                <span>Or</span>

                <a href="javascript:;">Create Account</a>



            </div>
        </div>
    </div>
</div>
